body {
    background: #96a57e;
    margin: 0;
}

.container {
    width: 700px;

    margin-top: 150px;
    padding: 50px;

    text-align: center;
    font-family: "Kyiv Region", cursive;
    color: black;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid black;
    border-radius: 10px;
    background-color: #fae6cd;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 450px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #fae6cd;
    border-bottom: 2px solid black;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    background-color: black;
    color: #fae6cd;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Kyiv Region", cursive;
}

input[type="submit"]:hover {
    background-color: #576d5d;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #375fad;
}

input[type="submit"]:focus {
    border: none;
}

.info a {
    color: #da674a;
    text-decoration: none;
    font-weight: bold;
}

.info a:hover {
    text-decoration: underline;
}

.container h2 {
    font-family: "Fixel Text Medium", cursive;
    font-size: 18px;
    /*display: none;*/

    transition-duration: 0.4s;
    transition-property: display;
}

.error {
    border: 2px solid red;
}
.error h2 {
    color: red;
}

.success {
    border: 2px solid green;
}
.success h2 {
    color: green;
}