body {
    background: #96a57e;
}

.container {
    width: 700px;

    margin-top: 150px;

    text-align: center;
    font-family: "Kyiv Region", cursive;
    font-size: 48px;
    color: #fae6cd;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container h1:hover {

}

.container a {
    color: black;
    text-decoration: none;

    margin-top: 50px;
    padding: 20px;

    background-color: #425e50;
    transition: color 0.19s;
}

.container a:hover {
    color: #da674a;
}

/* record */

.records {
    margin-top: 20px;
    text-align: left;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.record {
    padding: 10px;
}

.record:last-child {
    border-bottom: none;
}

.record a {
    text-decoration: none;
    color: #fae6cd;
    display: flex;
    border-left: 3px solid black;
    padding-left: 10px;
}

.record-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.title {
    font-family: "Kyiv Region", cursive;
    font-size: 24px;
    margin: 0;
    color: black;
}

.upload_time, .hashcode {
    font-family: "Kyiv Region", cursive;
    margin: 5px 0;
    font-size: 16px;
    color: black;
}

.record a:hover{
    background-color: #fae6cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid black;
    transition: 0.12s, box-shadow 0.1s;
}
