* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    /*font-family: "Kyiv Region";*/
    font-family: "Fixel Text Medium", cursive;
}
body {
    background-color: #96a57e;
    margin: 0;
}
.container {
    width: 700px;

    margin-top: 150px;

    font-family: "Kyiv Region", cursive;
    color: #fae6cd;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #fae6cd;*/
    /*box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);*/
}
input[type="file"] {
    display: none;
}
label {
    display: block;
    position: relative;
    background-color: #425e50;
    color: #ffffff;
    font-size: 1.12em;
    font-weight: 500;
    text-align: center;
    width: 18.75em;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 0.31em;
    cursor: pointer;
}
#num-of-files {
    color: #576d5d;
    text-align: center;
    margin: 1.25em 0 1.87em 0;
}

.file-info {
    display: flex;
    width: 100%;
}

.left {
    margin: 0;
    flex: 1;
    text-align: left;
}

.right {
    margin: 0;
    text-align: right;
}

.container li {
    border-left: 3px solid black;
    color: black;
    padding-left: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.progress-container {
    width: 700px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar {
    /*width: 0%;*/
    height: 20px;
    background-color: #425e50;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 20px;
}

.submit-button {
    width: 700px;
    height: 40px;
    margin-top: 10px;

    color: green;
}
